.wrapper {
    display: flex;
    margin-top: 32px;
}

.content-wrapper {
    flex-grow: 1;
    min-height: 100vh;
    flex-direction: column;
    display: flex;
}
.content-wrapper > main {
    flex: 1;
}

.footer {
    margin-top: auto
}

.content {
    height: 100vh;
}

.empty-state.empty-state {
    margin-left: 64px;
    margin-top: 64px;
    align-items: flex-start;
    flex: 1;
}

.icon {
    height: 48px;
    width: 48px;
    color: #9E9E9E;
}